<div>
  <h1>{{ id }}</h1>
  <div cdkDropListGroup>

    @for (list of lists; track list) {
      <div class="example-container">
        <div cdkDropList [cdkDropListData]="list.tasks" (cdkDropListDropped)="drop($event)" class="example-list"
             (change)="change">
          <h2><input [(ngModel)]="list.name" class="heading" (ngModelChange)="synchList()" /></h2>
          @for (item of list.tasks; track item) {
            <div class="task-item" cdkDrag [cdkDragData]="item">
              <input [value]="item" (keydown)="updateTask($event, lists.indexOf(list), $index)" />
              <button>OK</button>
            </div>
          }
          <div>
            <input (keydown)="down($event, $index)">
            <button>OK</button>
          </div>
        </div>
      </div>
    }
    <div class="example-container">
      <button mat-raised-button color="accent" (click)="addColumn()">Add a list</button>
    </div>
  </div>

  <button mat-raised-button color="primary" (click)="back()">Back to overview</button>
</div>