<div>
    <h1>{{id}}</h1>
    <div cdkDropListGroup>
    
        @for (list of lists; track list) {
        <div class="example-container">
        <div cdkDropList [cdkDropListData]="list.tasks" (cdkDropListDropped)="drop($event)" class="example-list">
            <h2>{{list.name}}</h2>
            @for (item of list.tasks; track item) {
            <div class="example-box" cdkDrag [cdkDragData]="item">{{item}}</div>
            }
        </div>
        </div>
        }
        <div class="example-container">
            <button mat-raised-button color="accent" (click)="addColumn()">Add a list</button>
        </div>
    </div>
    
    <button mat-raised-button color="primary" (click)="back()">Back to overview</button>
</div>