<div class="container">
  <h1>
    <input [(ngModel)]="this.board.name" class="heading h1" (ngModelChange)="change()" />
  </h1>
  <div cdkDropListGroup>

    @for (list of board.columns; track list) {
      <div class="example-container">
        <div cdkDropList [cdkDropListData]="list.tasks" (cdkDropListDropped)="drop($event)" class="example-list"
             (change)="change()">
          <h2><input [(ngModel)]="list.name" class="heading" (ngModelChange)="change()" /></h2>
          @for (item of list.tasks; track item) {
            <div class="task-item" cdkDrag [cdkDragData]="item">
              <input [value]="item.title" (keydown)="updateTask($event, board.columns.indexOf(list), $index)" (change)="change()"/>
              <button (click)="deleteItem(board.columns.indexOf(list), $index)">X</button>
            </div>
          }
          <app-new-item [callfn]="addTodo.bind(this)" [index]="$index"></app-new-item>
        </div>
      </div>
    }
    <div class="example-container">
      <button mat-raised-button color="accent" (click)="addColumn()">Add a list</button>
    </div>
  </div>

  <button mat-raised-button color="primary" (click)="back()">Back to overview</button>
</div>